<!DOCTYPE html>
<html>
<head>
    <title>Cadastro Completo</title>
</head>
<body>
    <div>
        <h2>Cadastro de Condomínio</h2>
        
        {% if error %}
        <div>{{ error }}</div>
        {% endif %}

        <div>
            <div><h4>Dados do Condomínio</h4></div>
            <div>
                <form method="post">
                    {% csrf_token %}
                    
                    <div>
                        {{ form.as_p }}
                    </div>

                    <button type="submit">Salvar Condomínio</button>
                </form>
            </div>
        </div>
    </div>
    <button onClick="goBack()">Voltar</button>
    <script>
        function goBack(){
            window.history.back();
        }
    </script>
</body>
</html>