<!-- cadastro_completo.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Cadastro Completo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Cadastro de Condomínio</h2>
        
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <div class="card mb-4">
            <div class="card-header"><h4>Dados do Condomínio</h4></div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar Condomínio</button>
                </form>
                <button><a href="{% url 'listar_conds' %}">Condomínios</a></button>
            </div>
        </div>
        
    </div>
</body>
</html>