<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Equipamento - {{ condominio.name }}</title>
</head>
<body>
    <div>
        
<form method="post">
    {% csrf_token %}
    <h3>Selecione o tipo de equipamento para {{ condominio.name }}</h3>
    
    <div>
        <input type="radio" name="tipo_equipamento" value="FACIAL" id="facial">
        <label for="facial">Controladora Facial</label>
    </div>
    
    <div>
        <input type="radio" name="tipo_equipamento" value="DVR" id="dvr">
        <label for="dvr">DVR/NVR</label>
    </div>
    
    <div>
        <input type="radio" name="tipo_equipamento" value="OUTRO" id="outro">
        <label for="outro">Outro Equipamento</label>
    </div>
    
    <button type="submit">Continuar</button>
</form>

    <a onClick="goBack()"><button>Voltar</button></a>
    </div>

    <script>
        function goBack(){
            window.history.back();
        }
    </script>
</body>
</html>