<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <h2><button><a href="{% url 'cadastrar_condominio' %}">Cadastrar condomínio</a></button></h2>
    <h2><button><a href="{% url 'listar_conds' %}">Condomínios cadastrados</a></button></h2>
    <h2><button><a href="{% url 'main_relato' %}">Cadastrar relatos</a></button></h2>
</body>
</html>