<!DOCTYPE html>
<html>
<head>
    <title>Lista de Condomínios</title>
</head>
<body>
    <h1>Condomínios</h1>
    
    {% if conds %}
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>----</th>
                </tr>
            </thead>
            <tbody>
                {% for conds in conds %}
                <tr>
                    <td>{{ conds.name }}</td>
                    <td><a href="{% url 'detail_conds' conds.id %}"><button>DETALHES</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum condomínio cadastrado ainda.</p>
    {% endif %}
    
    <a href="{% url 'cadastrar_condominio' %}"><button>Adicionar condomínio</button></a>
    <a href="{% url 'home' %}"><button>Home</button></a>
</body>
</html>