<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Condomínios</h1>
    
    {% if Conds %}
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Relatos</th>
                    <th>Data de Cadastro</th>
                </tr>
            </thead>
            <tbody>
                {% for conds in conds %}
                <tr>
                    <td>{{ conds.name }}</td>
                    <td>{{ conds.relatos }}</td>
                    <td>{{ conds.created_at|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum condomínio cadastrado ainda.</p>
    {% endif %}
    
    <a href="{% url 'cadastrar_condominio' %}">Adicionar condomínio</a>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>