<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RELATO</title>
</head>
<body>
    <h1>Condomínio {{ condominio.name }}</h1>
        
        <h3>Selecione a categoria para {{ tipo_relato.get_nome_display }}</h3>
        <form method="POST">
        {% csrf_token %}
        
            {% if categorias_ayel %}
                <label for="cat_relato_ayel">Categoria:</label>
                
                <select name="cat_relato" id="cat_relato_ayel" class="form-control" required>
                    <option value="">Selecione uma categoria</option>
                    {% for categoria in categorias_ayel %}
                        <option value="{{ categoria.id }}">{{ categoria.get_nome_display }}</option>
                    {% endfor %}
                </select>
        
            {% elif categorias_cam %}
                <label for="cat_relato_cam">Categoria:</label>
                
                <select name="cat_relato" id="cat_relato_cam" class="form-control" required>
                    <option value="">Selecione uma categoria</option>
                    {% for categoria in categorias_cam %}
                        <option value="{{ categoria.id }}">{{ categoria.get_nome_display }}</option>
                    {% endfor %}
                </select>
        
            {% else %}
                <p style="color: red;">Nenhuma categoria disponível para este tipo de relato.</p>
            {% endif %}
            
            {% if categorias_ayel or categorias_cam %}
                <button type="submit" class="btn-primary">Próximo</button>
            {% endif %}
        </form>
        <a onClick="goBack()" class="btn-home">VOLTAR</a>
<script>
    function goBack() {
            // Lista de URLs que podem causar loops
            const problemPages = [
                '/cadastrar-equipamento/<int:condominio_id>/<str:tipo>/',
                'listar_equips/edit_equip/<int:equipamento_id>/',
                'main_relato/<int:condominio_id>/<str:tipo_relato>/'
            ];
            
            const currentUrl = window.location.href;
            const referrer = document.referrer;
            
            // if referrer é uma página problemática ou a própria página atual
            if (problemPages.some(page => referrer.includes(page)) || 
                referrer === currentUrl) {
                // Vá para uma página segura
                window.location.href = '/equipamentos/';
            } 
            // if veio de uma página externa ou não há histórico
            else if (!referrer || referrer === '' || window.history.length <= 1) {
                window.location.href = '/';
            } else {
                window.history.back();
            }
        }

        setTimeout(function() {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                alert.style.display = 'none';
            });
        }, 5000);
        
</script>
</body>
</html>