<!DOCTYPE html>
<html>
<head>
    <title>RELATOS</title>
</head>
<body>
    <h1>RELATO</h1>
    <h2>Selecione o condomínio</h2>
    {% if conds %}
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for conds in conds %}
                <tr>
                    <td><a href="{% url 'relato' conds.id %}">{{ conds.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum condomínio cadastrado ainda.</p>
    {% endif %}
    
    <a href="{% url 'cadastrar_condominio' %}">Adicionar condomínio</a>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>