<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RELATO</title>
</head>
<body>
    <h1>Condomínio {{ condominio.name }}</h1>
    <h2>Selecione o aplicativo</h2>
    <form action="" method="post">
        {% csrf_token %}
        <select name="tipo_relato" class="form-control">
            {% for tipo in tipos_relato %}
                <option value="{{ tipo.id }}">{{ tipo.get_nome_display }}</option>
            {% endfor %}
        </select>
        <button type="submit">Próximo</button>
    </form>
    <button><a href="{% url 'main_relato' %}">Voltar</a></button>

    {% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

</body>
</html>